

.roll-dice-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dice-div {
    display: flex;
    flex-direction: row;
}

.die {
    padding: 1rem;
}

button {
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 5px;
    font-size: 1.5rem;
    width: 150px;
    height: 3rem;
}